@import "tailwindcss";

                

@theme {
  --breakpoint-*: initial;
  --breakpoint-2xl: 1580px;
  --breakpoint-xl: 1366px;
  --breakpoint-mlg: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 767px;
  --breakpoint-sm: 480px;
}

body {
  font-family: 'Product Sans', sans-serif;
}

/* custom  */
.my-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-inline: auto;
}

.text-grad {
  background-image: linear-gradient(45deg, #1CE2FC, #B026FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  margin: 0 auto;
}

/* custom btn */
.no-shadow {
  box-shadow: none !important;
}

.btn-pri {
  cursor: pointer;
  font-family: 'Product Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid hsla(0, 0%, 100%, 20%);
  background-color: #B026FF;
  color: #fff;
  border-radius: 30px;
  max-width: 300px;
  width: 100%;
  height: 55px;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 180px hsla(274, 100%, 55%, 60%);
}

.btn-pri:hover {
  letter-spacing: .5px;
}

.btn-sec {
  cursor: pointer;
  font-family: 'Product Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid hsla(0, 0%, 100%, 20%);
  background-color: #04D9FF;
  color: #1E1E1E;
  border-radius: 30px;
  max-width: 300px;
  width: 100%;
  height: 55px;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 180px hsla(187, 98%, 55%, 60%);
}

.btn-sec:hover {
  letter-spacing: .5px;
}


/* banner */
.banner {
  height: 100vh;
  background: url(./assets/bg-img.png)no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-back {
  width: 90px;
  height: 250px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 0;
  filter: blur(160px);
  background-image: linear-gradient(#1DE2FD, #AF39F7);
}

.blur-bg::before {
  content: '';
  min-width: 800px;
  height: 800px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  filter: blur(280px);
  opacity: 50%;
  background-image: linear-gradient(#1DE2FD, #AF39F7);
}

.que-box {
  overflow: hidden;
  margin-inline: auto;
  margin-top: 30px;
  max-width: 760px;
  min-height: 400px;
  border: solid 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#000000e8, #000000e8), linear-gradient(130deg, #B026FF, #1DE2FD);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #000;
}

::placeholder{color: #fff;}

.profile-box {
  overflow: hidden;
  margin-inline: auto;
  max-width: 320px;
  width: 100%;
  height: auto;
  border: solid 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#000000e8, #000000e8), linear-gradient(130deg, #B026FF, #1DE2FD);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #000;
 cursor: pointer;
}




/* responsive */
@media only screen and (max-width: 1024px) {

  .btn-pri,
  .btn-sec {
      font-size: 16px;
  }
}

/* responsive */
@media only screen and (max-width: 940px){
  .blur-bg::before {
    min-width: 100%;

  }
}

